<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <!-- welcome page -->
        <div v-if="currentPage==1">
            <h1>Welcome</h1>
            <div @click="switchPage(2)">Start Shopping</div>
        </div>
        <!-- the store page -->
        <div v-if="currentPage==2">
            <div class="checkout" @click="switchPage(3)">checkout</div>
            <div v-for="product in products" >
                <product v-bind:item="product" v-bind:add-to-cart-callback="addToCart"></product>
            </div>
        </div>

        <!-- checkout page -->
        <div v-if="currentPage==3">
            <h1>Checkout</h1>
            <div @click="switchPage(2)">Back to store</div>
            <div>Total Price: {{totalPrice}}</div>

            <div v-for="(items, index) in cart">
                <productcheckout v-bind:item="items" v-bind:add-to-cart-callback="addToCart" :remove-item-callback="removeFromCart" :index="index"></productcheckout>
            </div>
            
        </div>
        

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>